:root {
  --table-border-color: #bbb;
}

.cyEditor * {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition-duration: 0s !important;
  transition: 0s !important;
}

/* 当鼠标移动到td的padding上时，可以选择当前td */
.cyEditor td {
  cursor: cell;
}
.cyEditor td * {
  cursor: initial;
}

.cyEditor table {
  margin: 4px 0;
}

.cyEditor table td {
  border: 1px solid var(--table-border-color);
  border-left: none;
  border-top: none;
}

.cyEditor table tr:first-child td {
  border-top: 1px solid var(--table-border-color);
}

.cyEditor table tr td:first-child {
  border-left: 1px solid var(--table-border-color);
}


/* 改变user selection color */
/* .cyEditor span::selection {
  background-color: #b2deff;
}
.cyEditor span::-moz-selection {
  background-color: #b2deff;
}
.cyEditor span::-webkit-selection {
  background-color: #b2deff;
} */

.cyEditor {
  font-family: "Chinese Quote", "Segoe UI", Roboto, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.cyEditor .cyEditor__toolbar__dropdown {
  /* border-left-color: #21242a !important;
  border-top-color: #21242a !important; */
  top: 30px !important;
}

.cyEditor .cyEditor__toolbar__button:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.cyEditor .cyEditor__toolbar__colorPanelWrapper > div > div {
  box-shadow: none !important;
}

.cyEditor .cyEditor__toolbar__colorPanelWrapper,
.cyEditor .cyEditor__toolbar__tablePanelWrapper {
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 10px, rgb(0 0 0 / 16%) 0px 2px 5px;
}

.cyEditor .cyEditor__toolbar__tablePanelWrapper table td {
  width: 15px;
  height: 15px;
}

.cyEditor ul,
.cyEditor ol,
.cyEditor h1,
.cyEditor h2,
.cyEditor h3,
.cyEditor h4 {
  margin-bottom: 0;
}

.cyEditor td {
  overflow: hidden;
  padding: 4px;
  position: relative;
}
